<table>
  <tr>
    <td class="title"><%= form.text_field :title, :label => 'Project Title', :class => 'big' %></td>
    <td class="rate">
      <label>Default Hourly Rate</label>
      <%= link_to_unless current_user.defaults.rate.blank?, 
            number_to_currency(current_user.defaults.rate), '#', :class => 'rate', 
              :title => 'Click to use this rate for all tasks' %>
    </td>
  </tr>
</table>

<table id="tasks" class="tasks">
  <tr>
    <th></th>
    <th class="description"><label>Task Description</label></th>
    <th class="default"><label>Default <span>(<%= link_to '?', '#default', :rel => 'facebox' %>)</span></label></th>
    <th class="hours"><label>Hours</label></th>
    <th class="rate"><label>Rate</label></th>
    <th class="estimate"><label>Estimated Fee</label></th>
  </tr>
  <%= form.render_associated_form @estimate.tasks %>
</table>

<br />

<%= form.add_associated_link image_tag('new_task.png'), @estimate.tasks.build %>

<div id="total">
  Total Estimate: <span>$0.00</span>
</div>

<div id="default" style="display:none">
  <h1>What is a default task?</h1>
  <p>Any task that you deem as a default will automatically show up when you create a new estimate.</p>
</div>