<% unless @estimates.blank? %>
  <ul class="estimates">
    <% @estimates.each do |estimate| %>
      <li class="<%= cycle 'odd', nil %>">
        <span class="options" style="display:none;">
          <%= link_to 'Public URL', estimate_by_token_path(estimate.token) %>
          | <%= link_to 'Edit', edit_estimate_path(estimate), :class => 'red' %>
          | <%= link_to 'Delete', estimate, :method => :delete, :class => 'red',
                  :confirm => 'Are you sure you want to delete this estimate?' %>
        </span>
      
        <span class="total">
          <span class="soft"><%= pluralize estimate.total(:hours), 'hour' %></span>
          <%= number_to_currency estimate.total(:price) %> 
        </span>
      
        <span class="date" title="<%= estimate.created_at.to_s(:full) %>">
          <%= estimate.created_at.to_s(:md) %>:
        </span>
        <%= link_to estimate.title, estimate %> 
      </li>
    <% end %>
  </ul>

  <%= will_paginate @estimates %>
<% else %>
  <%= render :partial => 'welcome' %>
<% end %>