<% unless @estimates.blank? %>
  <ul class="estimates">
    <% @estimates.each do |estimate| %>
      <li class="<%= cycle 'odd', nil %>">
        <span class="options">
          <%= link_to image_tag('clone.png'), clone_estimate_path(estimate), :title => 'Clone',
                :confirm => "Are you sure you want to clone #{estimate.title}?" %>
          | <%= link_to image_tag('public_url.png'), estimate.short_url, :title => "Public URL: #{estimate.short_url}" %>
          | <%= link_to image_tag('edit.png'), edit_estimate_path(estimate), :title => 'Edit' %>
          | <%= link_to image_tag('delete.png'), estimate, :method => :delete, :title => 'Delete',
                  :confirm => 'Are you sure you want to delete this estimate?' %>
        </span>
      
        <span class="total">
          <span class="soft"><%= pluralize estimate.total_hours, 'hour' %></span>
          <%= number_to_currency estimate.total_price %> 
        </span>
      
        <span class="date" title="<%= estimate.created_at.to_s(:full) %>">
          <%= estimate.created_at.to_s(:md) %>:
        </span>
        <%= link_to estimate.title, estimate %> 
      </li>
    <% end %>
  </ul>

  <%= will_paginate @estimates %>
<% else %>
  <%= render :partial => 'welcome' %>
<% end %>