<div id="hdr">
  <p>by <%= link_to 'Ryan', 'http://rpheath.com' %> <%= link_to 'Heath', 'http://portfolio.rpheath.com' %></p>
  <%= link_to image_tag('ballparkit_public.png'), root_path %>
</div>

<%= display_flash_messages %>

<%= yield %>

<div id="info">
  <%= image_tag 'ballpark_screenshot.png' %>
  <h3>Easy as 1, 2, 3... <span>(without the 3)</span></h3>
  <ul>
    <li class="one">
      You create your estimate by defining tasks, how long those
      tasks will take, and at what rate.
    </li>
    <li class="two">
      Then email the estimate's public URL to 
      your potential client (they don't need an account).
    </li>
    <li class="three">
      Uhmm... That's it. There is no three.
    </li>
  </ul>
</div>