<%= page_title 'Edit Your Settings' %>

<% form_assistant_for @setting do |form| %>
  <% render :layout => 'setting' do %>
    <%= form.text_field :default_rate, :class => 'rate', :template => 'rate', :tip => 'Ex: 110.00, 100, 75.50, etc' %>
    <%= form.check_box :use_default_rate, :label => 'Use default rate when creating a new estimate' %>
    
    <br /><br />
    
    <% section 'Default Tasks' do %>    
      <ul class="list" id="default_tasks">
        <%= form.render_associated_form @setting.default_tasks %>
      </ul>
      <span class="inline"><%= form.check_box :clear_all, :class => 'clear', :label => 'Remove all Default Tasks' %></span>
      
      <%= form.add_associated_link image_tag('new_task.png'), @setting.default_tasks.build %>
      
    <% end %>
    
    <p class="submission"><%= submit_tag 'Update Settings' %> or <%= form.cancel %></p>
  <% end %>
<% end %>