<% page_title do %>
  <span><%= link_to 'Edit Your Settings', edit_setting_path(@setting), :class => 'red' %></span>
  Your Settings
<% end %>

<% render :layout => 'setting' do %>
  <% section 'Your Default Rate' do %>
    <p>
      <% unless @setting.default_rate.blank? %>
        You've set your default rate at <strong><%= number_to_currency @setting.default_rate %></strong>.
      <% else %>
        You haven't set a default rate yet.
      <% end %>
    </p>
  <% end %>
  
  <br />
  
  <% section 'Default Rate Settings' do %>
    <p>
      <% if @setting.use_default_rate? %>
        Currently, Ballpark is set to automatically fill in your default rate when creating a new estimate 
        (if a default rate exists, of course).
      <% else %>
        Currently, Ballpark is set to NOT automatically fill in your default rate when creating a new estimate.
      <% end %>
    </p>
  <% end %>
  
  <br />
  
  <% section 'Your Time Zone' do %>
    <p>
      <% if current_user.has_time_zone? %>
        Your Time Zone is currently set to <%= current_user.setting.time_zone %>.
      <% else %>
        You haven't configured your Time Zone yet (defaults to <%= Time.zone.name %>).
      <% end %>
    </p>
  <% end %>
  
  <br />
  
  <% section 'Your Default Tasks' do %>
    <% unless @tasks.blank? %>
      <ul class="checked">
        <% @tasks.each do |task| %>
          <li class="<%= cycle 'odd', nil %>"><%= task %></li>
        <% end %>
      </ul>
    <% else %>
      <p>You haven't setup any defaut tasks yet.</p>
    <% end %>
  <% end %>
<% end %>